<a href="https://colab.research.google.com/github/shkimusw/bigdata/blob/main/%5B13%EC%A3%BC%EC%B0%A8_%EA%B0%95%EC%9D%98%5D_%EB%8C%80%EC%A4%91%EA%B5%90%ED%86%B5_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%ED%95%98%EA%B8%B02_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#대중교통 데이터 원하는대로 조회하기

구글에 '티머니 교통통계자료' 라고 검색해서 나오는 첫 링크에 들어가서 가장 최신 파일을 다운받아보자.

In [ ]:
#글자깨짐 문제 수정을 위해 다음의 코드 실행 
#단계 1: 폰트 설치
import matplotlib.font_manager as fm
!apt-get -qq -y install fonts-nanum > /dev/null
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
fm._rebuild()


# 단계 2: 런타임 재시작
import os
os.kill(os.getpid(), 9)

In [1]:
# 단계 3: 한글 폰트 설정
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm

# 마이너스 표시 문제
mpl.rcParams['axes.unicode_minus'] = False
	
# 한글 폰트 설정
path = '/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf'
font_name = fm.FontProperties(fname=path, size=18).get_name()
plt.rc('font', family=font_name)
fm._rebuild()

In [2]:
from google.colab import files
uploaded=files.upload()

Saving subwayfee.csv to subwayfee.csv

In [3]:
import pandas as pd

In [ ]:
subway_data = pd.read_csv('subwayfee.csv', encoding='cp949', thousands=',')
subway_data

데이터 훑어보기

In [ ]:
# 데이터프레임의 기본정보
subway_data.info()

In [ ]:
# 통계정보 요약
subway_data.describe()

원하는 통계치 구하기

In [ ]:
print(subway_data['유임승차'] / subway_data['무임승차'])
print('')
print(subway_data['유임승차'] / (subway_data['유임승차'] + subway_data['무임승차']))

In [ ]:
#최대값 구하기
(subway_data['유임승차'] / subway_data['무임승차']).max()

In [ ]:
(subway_data['유임승차'] / (subway_data['유임승차'] + subway_data['무임승차'])).max()

In [ ]:
#유임승차 비율을 rate이라는 변수명으로 생성해보자
rate_table = pd.DataFrame(subway_data['유임승차'] / (subway_data['유임승차'] + subway_data['무임승차']), columns = ['rate'])
rate_table

위에서 만든 데이터프레임을 subway_data 데이터프레임에 새로운 열로 추가한 뒤 출력해 보자.
concat 함수를 사용한다. axis=1 옵션은 옆으로 붙여주는 옵션.

In [ ]:
added_subway = pd.concat([subway_data, rate_table], axis = 1)
added_subway

In [ ]:
#승하차 총 인원 열 추가
added_subway['총이용객']=added_subway.loc[:, ['유임승차', '유임하차', '무임승차', '무임하차']].sum(axis = 1)
added_subway

사용자가 가장 많은 역 찾기

In [ ]:
added_subway[added_subway['총이용객'] == added_subway['총이용객'].max()]

#iloc 과 loc 연습
loc 속성은 인덱스를 통해 행 데이터를 가져온다. 인덱스는 고유번호라고 생각하면 된다 (절대적).


*   데이터프레임명.loc[인덱스]

iloc 속성은 행번호를 통해 행 데이터를 가져온다. 행은 순서의 개념이다 (상대적).

* 데이터프레임명.iloc[행번호]

Subway_data 데이터프레임으로 연습해보자.

In [7]:
subway_data

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
0,2022-10,1호선,150,서울역,1307627,1279921,218542,210320,2022-11-03 10:23:08
1,2022-10,1호선,151,시청,638454,654541,119508,116903,2022-11-03 10:23:08
2,2022-10,1호선,152,종각,893135,864755,153798,143813,2022-11-03 10:23:08
3,2022-10,1호선,153,종로3가,499373,442702,319982,296084,2022-11-03 10:23:08
4,2022-10,1호선,154,종로5가,442041,447014,260373,250139,2022-11-03 10:23:08
...,...,...,...,...,...,...,...,...,...
610,2022-10,신림선,4407,당곡,81731,77226,29900,29421,2022-11-03 10:23:08
611,2022-10,신림선,4408,신림,32906,47581,14007,16623,2022-11-03 10:23:08
612,2022-10,신림선,4409,서원,67113,53390,20387,20283,2022-11-03 10:23:08
613,2022-10,신림선,4410,서울대벤처타운,163418,153554,54953,55830,2022-11-03 10:23:08
614,2022-10,신림선,4411,관악산(서울대),61343,66102,38873,39197,2022-11-03 10:23:08

In [8]:
#0번 인덱스 Series로 가져오기
subway_data.loc[0]

사용월                 2022-10
호선명                     1호선
역ID                     150
지하철역                    서울역
유임승차                1307627
유임하차                1279921
무임승차                 218542
무임하차                 210320
작업일시    2022-11-03 10:23:08
Name: 0, dtype: object

In [9]:
#만약 1, 3, 5 인덱스의 데이터를 한꺼번에 가져오고 싶다면, 리스트에 원하는 인덱스를 담아 loc 에 넣자.
subway_data.loc[[1,3,5]]

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
1,2022-10,1호선,151,시청,638454,654541,119508,116903,2022-11-03 10:23:08
3,2022-10,1호선,153,종로3가,499373,442702,319982,296084,2022-11-03 10:23:08
5,2022-10,1호선,155,동대문,231006,219104,124571,124404,2022-11-03 10:23:08

In [10]:
#데이터 프레임에서 0번째 행 데이터를 가져오자.
subway_data.iloc[0]

사용월                 2022-10
호선명                     1호선
역ID                     150
지하철역                    서울역
유임승차                1307627
유임하차                1279921
무임승차                 218542
무임하차                 210320
작업일시    2022-11-03 10:23:08
Name: 0, dtype: object

In [11]:
#마지막 행을 가져오자.
subway_data.iloc[-1]

사용월                 2022-10
호선명                     신림선
역ID                    4411
지하철역               관악산(서울대)
유임승차                  61343
유임하차                  66102
무임승차                  38873
무임하차                  39197
작업일시    2022-11-03 10:23:08
Name: 614, dtype: object

In [12]:
#tail 명령어로 끝에서 n번째 행까지 추출할 수도 있다.
subway_data.tail(3)

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
612,2022-10,신림선,4409,서원,67113,53390,20387,20283,2022-11-03 10:23:08
613,2022-10,신림선,4410,서울대벤처타운,163418,153554,54953,55830,2022-11-03 10:23:08
614,2022-10,신림선,4411,관악산(서울대),61343,66102,38873,39197,2022-11-03 10:23:08

In [13]:
#여러 행을 가져오자.
subway_data.iloc[[0,1,3,-1]]

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
0,2022-10,1호선,150,서울역,1307627,1279921,218542,210320,2022-11-03 10:23:08
1,2022-10,1호선,151,시청,638454,654541,119508,116903,2022-11-03 10:23:08
3,2022-10,1호선,153,종로3가,499373,442702,319982,296084,2022-11-03 10:23:08
614,2022-10,신림선,4411,관악산(서울대),61343,66102,38873,39197,2022-11-03 10:23:08

In [14]:
#5행~10행(미만)까지 가져오고 싶다면...
subway_data.iloc[5:10]

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
5,2022-10,1호선,155,동대문,231006,219104,124571,124404,2022-11-03 10:23:08
6,2022-10,1호선,156,신설동,280677,270784,121048,116766,2022-11-03 10:23:08
7,2022-10,1호선,157,제기동,234930,222417,287970,309026,2022-11-03 10:23:08
8,2022-10,1호선,158,청량리(서울시립대입구),345240,346252,261608,265382,2022-11-03 10:23:08
9,2022-10,1호선,159,동묘앞,144243,154090,166501,169644,2022-11-03 10:23:08

In [15]:
#유임승차인원이 5만 미만인 역만 알고 싶다면...
under5 = subway_data['유임승차'] < 50000
subway_data[under5]

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
54,2022-10,2호선,245,신답,37787,41202,10111,10988,2022-11-03 10:23:08
56,2022-10,2호선,247,도림천,27130,28264,8108,9093,2022-11-03 10:23:08
59,2022-10,2호선,250,용두(동대문구청),44751,42967,22939,24060,2022-11-03 10:23:08
72,2022-10,3호선,321,충무로,46,0,6,0,2022-11-03 10:23:08
116,2022-10,4호선,431,동작(현충원),37746,40430,15949,15776,2022-11-03 10:23:08
...,...,...,...,...,...,...,...,...,...
597,2022-10,우이신설선,4707,삼양사거리,39803,38653,36746,37079,2022-11-03 10:23:08
602,2022-10,우이신설선,4712,보문,30896,31089,15161,15198,2022-11-03 10:23:08
603,2022-10,우이신설선,4713,신설동,35947,37057,29450,26741,2022-11-03 10:23:08
608,2022-10,신림선,4405,보라매공원,38760,41511,13924,15282,2022-11-03 10:23:08
611,2022-10,신림선,4408,신림,32906,47581,14007,16623,2022-11-03 10:23:08

In [16]:
#유임승차인원이 5만 미만인 4호선 역만 알고 싶다면...
under5_4 = subway_data[(subway_data['유임승차'] < 50000) & (subway_data['호선명']=='4호선')]
under5_4

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
116,2022-10,4호선,431,동작(현충원),37746,40430,15949,15776,2022-11-03 10:23:08
119,2022-10,4호선,434,남태령,31908,24496,8948,8057,2022-11-03 10:23:08

In [17]:
#행 삭제: 0행을 삭제해보자.
subway_data=subway_data.drop(index=0, axis=0)

In [18]:
#데이터 프레임에서 0번째 행 데이터를 가져오면 아까 1번이었던 지하철역이 0번째 행으로 나타난다.
subway_data.iloc[0]

사용월                 2022-10
호선명                     1호선
역ID                     151
지하철역                     시청
유임승차                 638454
유임하차                 654541
무임승차                 119508
무임하차                 116903
작업일시    2022-11-03 10:23:08
Name: 1, dtype: object

In [19]:
#다만 0번 인덱스였던 데이터는 삭제되었으므로 나타나지 않는다.
subway_data.loc[0]

KeyError: ignored

In [20]:
#특정 열만 가져올 수도 있다. 무임승하차만 가져와본다면...
subway_data.loc[:,['무임승차', '무임하차']]

       무임승차    무임하차
1    119508  116903
2    153798  143813
3    319982  296084
4    260373  250139
5    124571  124404
..      ...     ...
610   29900   29421
611   14007   16623
612   20387   20283
613   54953   55830
614   38873   39197

[614 rows x 2 columns]

In [21]:
#1, 4번 역의 무임승하차만 보고싶다면...
subway_data.loc[[1,4],['무임승차','무임하차']]

     무임승차    무임하차
1  119508  116903
4  260373  250139